.login-button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(0,0,0,0.1);
    transition: background-color 0.3s ease;

    &:hover{
        background-color: #0056b3;
    }
}

.right{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 10vw;

}

.right h3{
    font-size: 25px;
}

label{
    display: column;
    display: flex;
    color: grey;
    font-size: 15px;

}

input{
    height: 6vh;
    width: 25vw;
    transition: border-color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    margin-top: 1vh;
}

.login-page{
    display: flex;
    flex-direction: row;

}

.left{
    background-color: #0c1749;
    width: 50vw;
    height: 100vh;

}

.left h3{
    text-align: start;
    color: white;
    margin-left: 2vw;
    font-family: cursive;

}

.left h4{
    margin-top: 40vh;
    margin-left: 2vw;
    text-align: start;
    color: #ccc;
    font-style: italic;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}